body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Styling for Register and Login Page */
.registerContainer, .loginContainer{
  position: absolute;
  margin:auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height:100%;
  display:grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
 
}

.registerDivider, .loginDivider{
  background-color: #3073A4;
  color:white;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.registerDividerContainer , .loginDividerContainer{
  margin: auto;
}

.registerImg{
  width:400px;
}

.loginImg{
  width:550px;
}
.registerTitle, .loginTitle{
  font-size: 40px;
}

.registerForm , .loginForm{
  text-align: center;
  margin:auto;
}

.register , .login{
  display: inline-block;
  text-align: left;
}

.register input , .login input{
  margin-bottom: 30px;
  margin-top:5px;
  width: 400px;
  height: 30px;
  background-color: #E7ECF4;
  border:none;
}

.registerBtn , .loginBtn{
  background-color: #3073A4;
  color:white;
  width:100%;
  height: 35px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.loginRedirect , .registerRedirect{
  text-align: center;
  margin-top: 100px;
}

/* Styling the Navbar */ 
.navBar{
  display: flex;
  width: 100%;

}

.navBar h2{
  margin-right: 100px;
  display: inline-block;
}

.navBar a{
  margin: 15px;
  display: inline-block;
}

.navBar button{
  border: none;
  height: 30px;
  display: inline-block;
  cursor: pointer;
}