.button {
    display: inline-block;
    height: auto;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    font-size: 0.8rem;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    overflow: hidden; 
    background-color: #646ff0;
    color: white;
    justify-content: left;


}

.button::selection {
    color: #585858;
    font-family: Poppins; 
    padding: 1rem;
    border: none;
    background-color: #cccdde;
    width: 150px;
    cursor: pointer;
}

.button--primary {
    background-color: #646ff0;
    color: white;
}

.button--secondary {
    background-color: #cccdde;
    color: #f8f8ff;
}